/* Global */

h1 {
    margin: 0;
    padding: 0;
}

h2 {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    background-color: #e8f3fc;
    font-family: 'Roboto', sans-serif;
    background-image: url(../images/bg.png);
}

.container {
    max-width: 1250px;
    margin: 0 auto;
    padding: 0 15px;
}

.inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Header */

.header {
    background-color: #33225b;
}

.header__inner {
    padding: 10px 0;
}

.header__logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo-item {
    margin-right: 15px;
    max-width: 50px;
    cursor: pointer;
}

.header__links {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__links-item {
    font-size: 22px;
    color: #fff;
    text-decoration: none;
    margin-right: 15px;
    cursor: pointer;
}

/* Section1 */

.section1__text {
    display: flex;
    flex-direction: column;
}

.section1__image {
    max-width: 500px;
    min-width: 10%;
    margin-right: 15px;
    border: 2px solid #c4007a;
    border-radius: 10px;
}

.section1__text-item {
    font-size: 22px;
}

.section1__inner {
    padding-top: 30px;
    padding-bottom: 30px;
}

/* Section2 */

.section2__title {
    font-size: 32px;
    max-width: 50%;
}

/* Section3 */

.section3__inner {
    align-items: baseline;
}

.section3__item-1 {
    background-color: #cadef4;
    padding: 30px;
    border-radius: 15px;
}

.section3__item {
    display: flex;
    flex-direction: column;
    width: 40%;
}

.section3__item-wrap {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.section3__item__title {
    font-weight: normal;
    color: #009de0;
    font-size: 32px;
}

.section3__item__subtitle {
    font-weight: 300;
    width: 70%;
}

.section3__item__image {
    margin-right: 15px;
}

.section3__item__image2 {
    margin-right: 10px;
}

/* Section4 */

.section4__inner {
    padding: 30px 0;
}

.section4__title {
    font-size: 32px;
    border-bottom: 1px solid black;
    width: 40%;
    margin-bottom: 30px;
}

.section4__subtitle {
    font-weight: normal;
}

/* Section5 */

.section5__title {
    background-color: #33225b;
    text-align: center;
    font-weight: 300;
    font-size: 32px;
    color: #fff;
    padding: 15px 0;
}

.section5__inner {
    border: 2px solid #4e5ca2;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    padding: 20px 100px;
    margin: 30px 0;
}

.section5__image {
    max-width: 400px;
    min-width: 10%;
    margin: 0 10px;
}

/* Section 6 */

.section6__title {
    background-color: #33225b;
    text-align: center;
    font-weight: 300;
    font-size: 32px;
    color: #fff;
    padding: 15px 0;
}

.section6__inner {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.section6__grid-1 {
    margin: 0 200px;

    max-width: 50%;
    min-width: 10%;
    margin-top: 30px;
    margin-bottom: 30px;

    display: grid;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(8, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;

    border: 3px solid #33225b;
    border-radius: 20px;
}

.section6__grid-2 {
    margin: 0 200px;

    max-width: 50%;
    min-width: 10%;
    margin-top: 30px;
    margin-bottom: 30px;

    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(10, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;

    border: 3px solid #33225b;
    border-radius: 20px;
}

.section6__grid-3 {
    margin: 0 200px;

    max-width: 50%;
    min-width: 10%;
    margin-top: 30px;
    margin-bottom: 30px;

    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;

    border: 3px solid #33225b;
    border-radius: 20px;
}

.section6__grid-4 {
    margin: 0 200px;

    max-width: 50%;
    min-width: 10%;
    margin-top: 30px;
    margin-bottom: 30px;

    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(15, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;

    border: 3px solid #33225b;
    border-radius: 20px;
}

.section6__grid-5 {
    margin: 0 200px;

    max-width: 50%;
    min-width: 10%;
    margin-top: 30px;
    margin-bottom: 30px;

    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(7, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;

    border: 3px solid #33225b;
    border-radius: 20px;
}

.section6__grid-6 {
    margin: 0 200px;

    max-width: 50%;
    min-width: 10%;
    margin-top: 30px;
    margin-bottom: 30px;

    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(8, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;

    border: 3px solid #33225b;
    border-radius: 20px;
}

.section6__grid-7 {
    margin: 0 200px;

    max-width: 50%;
    min-width: 10%;
    margin-top: 30px;
    margin-bottom: 30px;

    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;

    border: 3px solid #33225b;
    border-radius: 20px;
}

.section6__grid-8 {
    margin: 0 200px;
    
    max-width: 50%;
    min-width: 10%;
    margin-top: 30px;
    margin-bottom: 30px;

    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(9, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;

    border: 3px solid #33225b;
    border-radius: 20px;
}

.div1-2 { grid-area: 1 / 1 / 2 / 2; }
.div2-2 { grid-area: 1 / 2 / 2 / 6; }
.div3-2 { grid-area: 2 / 1 / 11 / 2; }
.div4-2 { grid-area: 2 / 2 / 3 / 5; }
.div5-2 { grid-area: 2 / 5 / 3 / 6; }
.div6-2 { grid-area: 3 / 2 / 4 / 5; }
.div7-2 { grid-area: 3 / 5 / 4 / 6; }
.div8-2 { grid-area: 4 / 2 / 5 / 5; }
.div9-2 { grid-area: 4 / 5 / 5 / 6; }
.div10-2 { grid-area: 5 / 2 / 6 / 5; }
.div11-2 { grid-area: 5 / 5 / 6 / 6; }
.div12-2 { grid-area: 6 / 2 / 7 / 5; }
.div13-2 { grid-area: 6 / 5 / 7 / 6; }
.div14-2 { grid-area: 7 / 2 / 8 / 5; }
.div15-2 { grid-area: 7 / 5 / 8 / 6; }
.div16-2 { grid-area: 8 / 2 / 9 / 5; }
.div17-2 { grid-area: 8 / 5 / 9 / 6; }
.div18-2 { grid-area: 9 / 2 / 10 / 5; }
.div19-2 { grid-area: 9 / 5 / 10 / 6; }
.div20-2 { grid-area: 10 / 2 / 11 / 5; }
.div21-2 { grid-area: 10 / 5 / 11 / 6; }

.div1-3 { grid-area: 1 / 1 / 2 / 2; }
.div2-3 { grid-area: 1 / 2 / 2 / 6; }
.div3-3 { grid-area: 2 / 1 / 7 / 2; }
.div4-3 { grid-area: 2 / 2 / 3 / 5; }
.div5-3 { grid-area: 2 / 5 / 3 / 6; }
.div6-3 { grid-area: 3 / 2 / 4 / 5; }
.div7-3 { grid-area: 3 / 5 / 4 / 6; }
.div8-3 { grid-area: 4 / 2 / 5 / 5; }
.div9-3 { grid-area: 4 / 5 / 5 / 6; }
.div10-3 { grid-area: 5 / 2 / 6 / 5; }
.div11-3 { grid-area: 5 / 5 / 6 / 6; }
.div12-3 { grid-area: 6 / 2 / 7 / 5; }
.div13-3 { grid-area: 6 / 5 / 7 / 6; }

.div1-4 { grid-area: 1 / 1 / 2 / 2; }
.div2-4 { grid-area: 1 / 2 / 2 / 6; }
.div3-4 { grid-area: 2 / 1 / 16 / 2; }
.div4-4 { grid-area: 2 / 2 / 3 / 5; }
.div5-4 { grid-area: 2 / 5 / 3 / 6; }
.div6-4 { grid-area: 3 / 2 / 4 / 5; }
.div7-4 { grid-area: 3 / 5 / 4 / 6; }
.div8-4 { grid-area: 4 / 2 / 5 / 5; }
.div9-4 { grid-area: 4 / 5 / 5 / 6; }
.div10-4 { grid-area: 5 / 2 / 6 / 5; }
.div11-4 { grid-area: 5 / 5 / 6 / 6; }
.div12-4 { grid-area: 6 / 2 / 7 / 5; }
.div13-4 { grid-area: 6 / 5 / 7 / 6; }
.div14-4 { grid-area: 7 / 2 / 8 / 5; }
.div15-4 { grid-area: 7 / 5 / 8 / 6; }
.div16-4 { grid-area: 8 / 2 / 9 / 5; }
.div17-4 { grid-area: 8 / 5 / 9 / 6; }
.div18-4 { grid-area: 9 / 2 / 10 / 5; }
.div19-4 { grid-area: 9 / 5 / 10 / 6; }
.div20-4 { grid-area: 10 / 2 / 11 / 5; }
.div21-4 { grid-area: 10 / 5 / 11 / 6; }
.div22-4 { grid-area: 11 / 2 / 12 / 5; }
.div23-4 { grid-area: 11 / 5 / 12 / 6; }
.div24-4 { grid-area: 12 / 2 / 13 / 5; }
.div25-4 { grid-area: 12 / 5 / 13 / 6; }
.div26-4 { grid-area: 13 / 2 / 14 / 5; }
.div27-4 { grid-area: 13 / 5 / 14 / 6; }
.div28-4 { grid-area: 14 / 2 / 15 / 5; }
.div29-4 { grid-area: 14 / 5 / 15 / 6; }
.div30-4 { grid-area: 15 / 2 / 16 / 5; }
.div31-4 { grid-area: 15 / 5 / 16 / 6; }

.div1-5 { grid-area: 1 / 1 / 2 / 2; }
.div2-5 { grid-area: 1 / 2 / 2 / 6; }
.div3-5 { grid-area: 2 / 1 / 8 / 2; }
.div4-5 { grid-area: 2 / 2 / 3 / 5; }
.div5-5 { grid-area: 2 / 5 / 3 / 6; }
.div6-5 { grid-area: 3 / 2 / 4 / 5; }
.div7-5 { grid-area: 3 / 5 / 4 / 6; }
.div8-5 { grid-area: 4 / 2 / 5 / 5; }
.div9-5 { grid-area: 4 / 5 / 5 / 6; }
.div10-5 { grid-area: 5 / 2 / 6 / 5; }
.div11-5 { grid-area: 5 / 5 / 6 / 6; }
.div12-5 { grid-area: 6 / 2 / 7 / 5; }
.div13-5 { grid-area: 6 / 5 / 7 / 6; }
.div14-5 { grid-area: 7 / 2 / 8 / 5; }
.div15-5 { grid-area: 7 / 5 / 8 / 6; }

.div1-6 { grid-area: 1 / 1 / 2 / 2; }
.div2-6 { grid-area: 1 / 2 / 2 / 6; }
.div3-6 { grid-area: 2 / 1 / 9 / 2; }
.div4-6 { grid-area: 2 / 2 / 3 / 5; }
.div5-6 { grid-area: 2 / 5 / 3 / 6; }
.div6-6 { grid-area: 3 / 2 / 4 / 5; }
.div7-6 { grid-area: 3 / 5 / 4 / 6; }
.div8-6 { grid-area: 4 / 2 / 5 / 5; }
.div9-6 { grid-area: 4 / 5 / 5 / 6; }
.div10-6 { grid-area: 5 / 2 / 6 / 5; }
.div11-6 { grid-area: 5 / 5 / 6 / 6; }
.div12-6 { grid-area: 6 / 2 / 7 / 5; }
.div13-6 { grid-area: 6 / 5 / 7 / 6; }
.div14-6 { grid-area: 7 / 2 / 8 / 5; }
.div15-6 { grid-area: 7 / 5 / 8 / 6; }
.div16-6 { grid-area: 8 / 2 / 9 / 5; }
.div17-6 { grid-area: 8 / 5 / 9 / 6; }

.div1-7 { grid-area: 1 / 1 / 2 / 2; }
.div2-7 { grid-area: 1 / 2 / 2 / 6; }
.div3-7 { grid-area: 2 / 1 / 5 / 2; }
.div4-7 { grid-area: 2 / 2 / 3 / 5; }
.div5-7 { grid-area: 2 / 5 / 3 / 6; }
.div6-7 { grid-area: 3 / 2 / 4 / 5; }
.div7-7 { grid-area: 3 / 5 / 4 / 6; }
.div8-7 { grid-area: 4 / 2 / 5 / 5; }
.div9-7 { grid-area: 4 / 5 / 5 / 6; }

.div1-8 { grid-area: 1 / 1 / 2 / 2; }
.div2-8 { grid-area: 1 / 2 / 2 / 6; }
.div3-8 { grid-area: 2 / 1 / 10 / 2; }
.div4-8 { grid-area: 2 / 2 / 3 / 5; }
.div5-8 { grid-area: 2 / 5 / 3 / 6; }
.div6-8 { grid-area: 3 / 2 / 4 / 5; }
.div7-8 { grid-area: 3 / 5 / 4 / 6; }
.div8-8 { grid-area: 4 / 2 / 5 / 5; }
.div9-8 { grid-area: 4 / 5 / 5 / 6; }
.div10-8 { grid-area: 5 / 2 / 6 / 5; }
.div11-8 { grid-area: 5 / 5 / 6 / 6; }
.div12-8 { grid-area: 6 / 2 / 7 / 5; }
.div13-8 { grid-area: 6 / 5 / 7 / 6; }
.div14-8 { grid-area: 7 / 2 / 8 / 5; }
.div15-8 { grid-area: 7 / 5 / 8 / 6; }
.div16-8 { grid-area: 8 / 2 / 9 / 5; }
.div17-8 { grid-area: 8 / 5 / 9 / 6; }
.div18-8 { grid-area: 9 / 2 / 10 / 5; }
.div19-8 { grid-area: 9 / 5 / 10 / 6; }

.section6__grid-item {
    text-align: center;
    padding: 15px;
    border: 1px solid #33225b;
}

.div-top-left {
    border-top-left-radius: 10px;
}

.div-top-right {
    border-top-right-radius: 10px;
}

.div-bottom-left {
    border-bottom-left-radius: 10px;
}

.div-bottom-right {
    border-bottom-right-radius: 10px;
}

.div1 { grid-area: 1 / 1 / 2 / 2; }
.div2 { grid-area: 1 / 2 / 2 / 6; }
.div3 { grid-area: 2 / 1 / 9 / 2; }
.div4 { grid-area: 2 / 2 / 3 / 5; }
.div5 { grid-area: 2 / 5 / 3 / 6; }
.div6 { grid-area: 3 / 2 / 4 / 5; }
.div7 { grid-area: 3 / 5 / 4 / 6; }
.div8 { grid-area: 4 / 2 / 5 / 5; }
.div9 { grid-area: 4 / 5 / 5 / 6; }
.div10 { grid-area: 5 / 2 / 6 / 5; }
.div11 { grid-area: 5 / 5 / 6 / 6; }
.div12 { grid-area: 6 / 2 / 7 / 5; }
.div13 { grid-area: 6 / 5 / 7 / 6; }
.div14 { grid-area: 7 / 2 / 8 / 5; }
.div15 { grid-area: 7 / 5 / 8 / 6; }
.div16 { grid-area: 8 / 2 / 9 / 5; }
.div17 { grid-area: 8 / 5 / 9 / 6; }



/* Competence */

.competence {
    margin-top: 50px;
}

.competence__inner {
    padding-top: 15px;
    border-top: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.competence__title {
    margin-bottom: 15px;
}

.competence__wrap {
}

/* Section 7 */

.section7__title {
    background-color: #33225b;
    text-align: center;
    font-weight: 300;
    font-size: 32px;
    color: #fff;
    padding: 15px 0;
}

.section7__inner {
    display: flex;
    justify-content: center;
}

.section7__form {
    display: flex;
    flex-direction: column;
    max-width: 60%;
    min-width: 10%; 
    margin: 30px 0;
    background-color: #02988f;
    padding: 10px 20px;
    border-radius: 20px;
}

.section7-wrap {
    display: flex;
    justify-content: space-between;
}

.section7__input {
    background-color: #fff;
    border: none;
    border-radius: 5px;
    width: 150px;
    margin-bottom: 10px;
}

.section7__comment {
    width: 250px;
    height: 50px;
}

.section7__button {
    background-color: #fff;
    border: none;
    border-radius: 5px;
    margin-left: 50px;
    font-weight: 700;
    font-size: 18px;
    color: #02988f;
}

/* Footer */

.footer {
    background-color: #33225b;
}

.footer__inner {
    padding: 15px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__image {
    margin-right: 15px;
    cursor: pointer;
}

.footer__image:last-child {
    margin: 0;
}